.user-feedback-component {
    background: var(--background-color);
    border-radius: 18px;
    padding: 16px 8px;
    text-align: left;
    margin-bottom: 9px;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & &__icon-container {
        img {
            width: 40px;
            height: 40px;
        }
    }

    & &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1em;
        margin: 10px 40% 24px 0;
        letter-spacing: 0.005em;
    }

    & &__rating-container {
        margin-bottom: 24px;
    }

    & &__rates-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    & &__single-rate-tile {
        font-size: 18px;
        line-height: 1em;
        font-weight: 500;
        padding: 14px 22px 15px;
        border-radius: 12px;
        border: 1px solid var(--border-color-dark);

        &:hover {
            border: 1px solid var(--border-color);
        }

        &[data-selected] {
            border-color: var(--primary-color);
            background: linear-gradient(0deg, rgba(101, 212, 110, 0.08), rgba(101, 212, 110, 0.08)), #292929;
        }
    }

    & &__labels-container {
        display: flex;
        justify-content: space-between;
    }

    & &__single-label {
        color: var(--on-background-color-disabled);
        font-size: 12px;
        line-height: 1.16em;
        width: 90px;
        text-align: left;

        &:last-child {
            text-align: right;
        }
    }

    & &__input-container {
        margin-top: 32px;

        &[data-feedback="0"] {
            display: none;
        }

        &[data-feedback="1"] {
            display: block;
        }
    }

    & &__label {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 16px;
        display: block;
    }

    & &__input {
        display: block;
        width: 100%;
        color: #fff;
    }
}